{% extends "musicapp/base.html" %} {% block content %}
<h1>
    <a href="../" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span></a> {{ album.title }}
    {% if user == album.user %}
        <a href="edit/" class="btn btn-info btn-lg">
              <span class="glyphicon glyphicon-edit"></span> Edit</a>
        <a href="delete/" class="btn btn-info btn-lg">
              <span class="glyphicon glyphicon-remove"></span> Delete</a>
    {% endif %}
</h1>
<p>
    <a href="{{ album.albumLink }}">
            {% if album.albumCoverurl %}
                <img src="{{ album.albumCoverurl }}" height="300" width="300" onError="this.onerror=function(){this.src='/static/covers/equalizer.jpg'}; this.src='/static/covers/{{ album.albumCoverurl }}'" />
            {% endif %}
            <p><small>Visit album</small></p>
        </a>
</p>
<p><a href="tracks/">View album tracks</a></p>
{% endblock %} {% block footer %}Created by {{ album.user }} on {{ album.date }} {% endblock %}