{% extends "musicapp/base.html" %} {% block content %}
<div class="container-fluid">
    <h1>
        <a href="../" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span></a> {{ artist.name }}
        {% if user == artist.user %}
            <a href="{% url 'musicapp:artist_edit' artist.id %}" class="btn btn-info btn-lg">
              <span class="glyphicon glyphicon-edit"></span> Edit</a>
            <a href="{% url 'musicapp:artist_delete' artist.id %}" class="btn btn-info btn-lg">
              <span class="glyphicon glyphicon-remove"></span> Delete</a>
        {% endif %}
    </h1>
    <p>
        {% if artist.artistLink %}
        <a href="{{ artist.artistLink }}">
                {% if artist.artistPictureurl %}
                    <img src="{{ artist.artistPictureurl }}" height="300" width="300" alt="Visit artist page" />
                {% endif %}
                <p><small>Visit artist page</small></p>
            </a> {% else %}
        <a href="{{ artist.artistLink }}">Visit artist page</a> {% endif %}
    </p>
    <p><a href="albums/">View artist albums</a></p>
</div>
{% endblock %} {% block footer %}Created by {{ artist.user }} on {{ artist.date }} {% endblock %}