{% extends "musicapp/base.html" %} {% block content %}
{% if form.errors %}
<p>There is an error with the form.</p>
{% endif %}
<form method="post" action="">
    {% csrf_token %}
    <h1>Edit Album</h1>
    <table>
        <script type="text/javascript">
            var ur = window.location.href;
            if (ur.substring(ur.length-5,ur.length-1)=="edit") {
                ur = ur.substring(0,ur.length-6)
                ur = ur.substring(0,ur.lastIndexOf('/'))
                ur = ur.substring(0,ur.length-7)
                ur = ur.substring(ur.lastIndexOf('/')+1)  
            } else {
                ur = ur.substring(0,ur.length-15)
                ur = ur.substring(ur.lastIndexOf('/')+1)
            }
            document.write('<input type="hidden" id="id_artist_id" name="artist_id" value="' + ur + '"/>')
        </script>
        <tr>
            <td><label for="title">Album title: </label></td>
            <td><input type="text" id="id_title" name="title" value="{% if form.title.value %}{{ form.title.value }}{% endif %}" /></td>
        </tr>
        <tr>
            <td><label for="duration">Duration (minutes): </label></td>
            <td><input type="number" id="id_duration" name="duration" value="{{ form.duration.value }}" /></td>
        </tr>
        <tr>
            <td><label for="trackCount">Number of tracks: </label></td>
            <td><input type="number" id="id_trackCount" name="trackCount" value="{{ form.trackCount.value }}"></input></td>
        </tr>
        <tr>
            <td><label for="albumLink">Album URL: </label></td>
            <td><input type="text" id="id_albumLink" name="albumLink" value="{% if form.albumLink.value %}{{ form.albumLink.value }}{% endif %}"></input></td>
        </tr>
        <tr>
            <script type="text/javascript">
            $(function() {
                var samplecovers = [
                    "dimension.jpg",
                    "equalizer.jpg",
                    "headphones.png",
                    "prism.jpg",
                    "seashore.jpg",
                    "sunset.jpg"
                    ];
                $("#id_albumCoverurl").autocomplete({
                    select: function (a, b) {
                        document.getElementById('coverSample').innerHTML = "<img width='300' src='/static/covers/" + b.item.value + "' alt='cover' />"
                    },
                    
                    source: samplecovers
                });
            });
        </script>
            <td><label for="albumCoverurl">Album cover URL: </label></td>
            <td><input type="text" id="id_albumCoverurl" name="albumCoverurl" value="{% if form.albumCoverurl.value %}{{ form.albumCoverurl.value }}{% endif %}"></input></td>
            <td><div class="coverSample"></div></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" class="btn btn-primary" />&nbsp;<input type="button" value="Cancel" class="btn btn-primary" onclick="history.go(-1); return false;" /></p></td>
        </tr>
    </table>
</form>
{% endblock %}