{% extends "musicapp/base.html" %} {% block content %}
<h1>
    <a href="../" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span></a> {{ track.title}}
    {% if user == track.user %}
        <a href="edit/"  class="btn btn-info btn-lg">
              <span class="glyphicon glyphicon-edit"></span> Edit</a>
    {% endif %}
</h1>
<p>
    {% if track.trackLink %}
    <a href="{{ track.trackLink }}">{{ track.title }}</a> {% endif %}
</p>
   <p>Duration: {{ track.duration }}</p>
<p><a href="lyrics/">View lyrics</a></p>
{% endblock %} {% block footer %}Created by {{ track.user }} on {{ track.date}} {% endblock %}