{% extends "musicapp/base.html" %}
{% block title %} MusicDB - {{track.title}} {% endblock %}
{% block content %}
<span vocab ='http://schema.org/' typeof= "MusicRecording"></span>
<h1>
    <a href="../" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <span property="name"> {{ track.title}}  </span>
    {% if user == track.user %}
        <a href="edit/"  class="btn btn-info btn-lg">
              <span class="glyphicon glyphicon-edit"></span> Edit</a>
        <a href="delete/"  class="btn btn-info btn-lg">
              <span class="glyphicon glyphicon-remove"></span> Delete</a>
    {% endif %}
</h1>
<p>
    {% if track.trackLink %}
    <a href="{{ track.trackLink }}">{{ track.title }}</a> {% endif %}
</p>
<p><a href="lyrics/">View lyrics</a></p>
<h2>Reviews</h2>
{% if track.trackreview_set.all|length > 0 %}
    <span rel="aggregateRating">
          <p typof="AggregateRating">
              Average rating
              <span property="ratingValue">{{track.averageRating|stringformat:".1f"}}</span>
              {% with track.trackreview_set.all|length as reviewCount %}
                from <span property="reviewCount"> {{ reviewCount }}
                </span> review {{ reviewCount|pluralize }}
              {% endwith %}
          </p>
    </span>
<ul rel="review">
    {% for review in track.trackreview_set.all %}
        <li typeof="Review">
            <p rel="reviewRating" typeof="Rating">
                <span property="worstRating" content="{{RATING_CHOICES.0.0}}"></span>
                <span property="ratingValue">{{review.rating}}</span>
                star{{ review.rating|pluralize }}
                {% with RATING_CHOICES|last as best %}
                <span property="bestRating" content="{{best.0}}"></span>
                {% endwith %}
            </p>
            <p property="description">{{review.comment}}</p>
            <p>Created by <span property="author">{{review.user}}</span> on
            <span property="publishDate">{{ review.date }}</span></p>
         </li>
    {%endfor%}
</ul>
</span>
{% endif %}
{% if user %}
<h3>Add Review</h3>
<form action="{% url 'musicapp:review_create' track.album_id.artist_id.id track.album_id.id track.id%}" method="post">
    {% csrf_token %}
    Message: <textarea name="comment" id = "comment" rows = "4"></textarea>
    <p>Rating:</p>
    <p>{% for rate in RATING_CHOICES%}
    <input type="radio" name="rating" id="rating{{forloop.counter}}" value="{{rate.0}}"/>
    <label for="choice{{forloop.counter}}">{{rate.1}} star{{rate.0|pluralize}}</label>
    <br/> {% endfor %}
    </p>
    <input type="submit" value="Review"/>
</form>
{% endif %}

{% endblock %} {% block footer %}Created by {{ track.user }} on {{ track.date}} {% endblock %}