{% extends "musicapp/base.html" %}
{% block content %}
<h1>
    <a href="../" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span></a> Tracks
    {% if user %}<a href="create/" class="btn btn-info btn-lg">
              <span class="glyphicon glyphicon-plus"></span> Add</a>{% endif %}
</h1>
<ul>
    {% for track in track_list %}
        <li><a href="{{track.pk}}/">{{ track.title }}</a></li>
    {% empty %}<li>Nothing here, no tracks registered for this album.</li>
    {% endfor %}
</ul>
{% endblock %}